body {
  background: var(--fundo);
  color: var(--texto);
  font-family: var(--fonte-principal);
  transition:
    background 0.3s,
    color 0.3s;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 1rem;
  background: var(--fundonav);
  border-bottom: 2px solid var(--borda);
  position: relative;
}

.menu-toggle {
  background-color: var(--fundo-botao);
  color: var(--texto-botao);
  border-radius: 50%;
  border: none;
  color: var(--texto-botao);
  font-size: 2rem;
  cursor: pointer;
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 1001;
}
.menu-toggle:hover {
  color: var(--seta);
}

.header__menu {
  position: fixed;
  top: 0;
  left: -300px;
  width: 250px;
  height: 100%;
  background: var(--fundonav);
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  transition: left 0.3s;
  z-index: 1000;
  display: flex;
  gap: 1rem;
}

.header__menu.menu-aberto {
  left: 0;
}

.header__menu__link {
  color: var(--texto);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 80%;
  justify-content: center;
}

.header__menu__link:hover {
  background-color: var(--cor-hover);
}

.icone-seta {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--fundo-botao);
  color: var(--texto-botao);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.5rem;
  transition: background-color 0.3s;
}

.icone-seta:hover {
  color: var(--seta);
}

#switch {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: var(--fundo-botao);
  color: var(--texto-botao);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.5rem;
}
#switch:hover {
  color: var(--seta);
}

#conteudo-dinamico_container {
  padding: 1rem;
  flex: 1;
}

.sobre-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.sobre-container {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;
}

.sobre-texto {
  flex: 1;
  border: 3px solid var(--borda);
  border-radius: 5%;
  padding: 1rem;
}

.sobre-imagens {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.apresentacao__imagem-container {
  width: 50vw;
  max-width: 150px;
  position: relative;
  aspect-ratio: 1 / 1;
}
.apresentacao__conteudo__texto {
  margin: 1rem;
}

#meuCanvas,
.apresentacao__imagem {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid var(--borda);
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

#meuCanvas {
  z-index: 1;
}

.rodape {
  text-align: center;
  padding: 0.5rem;
  background: var(--fundonav);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rodape__links {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.destaque {
  color: var(--textoforte);
}

.contato-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.contato__link {
  color: var(--texto);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem;
  box-sizing: border-box;
  border: solid var(--texto);
}

.contato__link:hover {
  background-color: var(--cor-hover);
  border: solid var(--borda);
}

.contato-destaque {
  border: 2px solid var(--borda);
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--fundo-botao);
  color: var(--texto-botao);
  transition: all 0.3s ease-in-out;
  justify-content: center;
}

.contato-destaque:hover {
  background-color: var(--cor-hover);
  color: var(--texto);
  transform: scale(1.05);
}

.cursos__titulo,
.projetos__titulo,
.sobre__titulo,
.contato__titulo,
.habilidades__titulo {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--textoforte);
  text-align: center;
}
.cursos {
  padding: 0.5rem 0;
}

.projetos__descricao {
  margin-bottom: 1rem;
  text-align: center;
}

.carousel {
  position: relative;
  width: 95%;
  margin: 0 auto;
}

.carousel__track-container {
  overflow: hidden;
  width: 100%;
}

.carousel__track {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.carousel__item {
  flex: 0 0 100%;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: var(--fundo-botao);
  color: var(--texto-botao);
  border: 2px solid var(--borda);
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
  transition:
    background-color 0.3s,
    color 0.3s;
  width: 30px;
  height: 30px;
  font-size: 1.5rem;
}

.carousel__button:hover {
  background: var(--borda);
  color: var(--fundo);
}

.carousel__button--left {
  left: -10px;
}

.carousel__button--right {
  right: -10px;
}

.projeto__card {
  background: var(--fundocard);
  border: 2px solid var(--borda);
  border-radius: 10px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

.imagem-projeto {
  width: auto;
  height: 20rem;
  object-fit: contain;
  border-radius: 5px;
}

.projeto__links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: auto;
}

.projeto__link {
  color: var(--cor-hover);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--fundo-botao);
  border-radius: 10px;
  border: 3px solid var(--texto-botao);
}

.projeto__link:hover {
  background-color: var(--cor-hover);
  color: var(--texto);
  border: solid var(--borda);
}

.projeto__card h3 {
  text-align: center;
}

.habilidades__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.habilidades__programacao,
.habilidades__ferramentas {
  background: var(--fundocard);
  border: 2px solid var(--borda);
  border-radius: 10px;
  padding: 1.5rem;
}

.habilidades__lista {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.habilidades__item {
  background: var(--fundo);
  border: 2px solid var(--cor-hover);
  border-radius: 10px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
  flex-basis: calc(100% / 3 - 1rem);
}

.habilidades__idiomas {
  background: var(--fundocard);
  border: 2px solid var(--borda);
  border-radius: 10px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.habilidades__lista--idiomas {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.habilidades__idioma {
  text-align: center;
  padding: 0.5rem;
  width: 100%;
}

.habilidades__subtitulo {
  font-size: 1.5rem;
  color: var(--textoforte);
  text-align: center;
  margin-bottom: 1rem;
}

.habilidades__imagem {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.habilidades__nome {
  font-weight: bold;
}

.habilidades__nivel {
  font-style: italic;
}

@media (min-width: 768px) {
  .sobre-container {
    flex-direction: row;
    text-align: left;
  }
  .sobre-texto {
    order: 1;
  }
  .sobre-imagens {
    order: 2;
  }
  .apresentacao__imagem-container {
    width: 350px;
    max-width: 350px;
  }

  .habilidades__item {
    flex-basis: calc(100% / 5 - 1rem);
  }

  .carousel {
    width: 80%;
  }

  .carousel__button {
    width: 40px;
    height: 40px;
    font-size: 2rem;
  }

  .carousel__button--left {
    left: -50px;
  }

  .carousel__button--right {
    right: -50px;
  }
}
