* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--fundo);
    color: var(--texto);
    font-family: var(--fonte-principal);
}

.header {
    padding: 2% 10%;
    background: var(--fundo);
}

.header__menu {
    display: flex;
    justify-content: space-evenly;
}

.header__menu__link {
    color: var(--texto);
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    transition: color 0.3s ease;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.header__menu__link:hover {
    color: var(--textoforte);
}
.bi {
    margin: 1rem;
    font-size: 2rem;
}
#switch {
    cursor: pointer;
    position: fixed;
    top: 4rem;
    right: 1rem;
    z-index: 1001;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 10%;
    gap: 2rem;
}

.apresentacao__conteudo {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: solid 2px var(--borda);
    border-radius: 10px;
    padding: 20px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.2rem;
    font-weight: 600;
}

.destaque {
    color: var(--textoforte);
}

.apresentacao__conteudo__texto {
    font-size: 1.2rem;
    line-height: 1.5;
}

.apresentacao__imagem-container {
    position: relative;
    width: 100%;
    max-width: 474px;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
    display: block;
    border: solid 2px var(--borda);
    border-radius: 50%;
}

.apresentacao__imagem {
    position: relative;
    z-index: 1;
}

.apresentacao__imagem,
#meuCanvas {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.apresentacao__imagem-container:hover #meuCanvas {
    opacity: 1;
}
#meuCanvas {
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 2;
}

.projetos, .contato {
    padding: 5% 0;
    text-align: center;
}

.projetos__titulo, .contato__titulo {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--textoforte);
}

.projeto__card {
    background-color: var(--cor-hover);
    padding: 10px;
    text-align: left;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.projeto__card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 5px;
    max-height: 300px;
    max-width: 500px;
}

.projeto__card h3 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.projeto__links {
    display: inline-flex;
    justify-content: center;
    align-content: flex-end;
    width: 100%;
    margin-top: auto;
    gap: 2rem;
}

.projeto__link {
    display: inline-block;
    background-color: var(--borda);
    color: var(--texto);
    padding: 0.3rem;
    margin-top: 1rem;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    transition: background-color 0.3s ease;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    min-width: auto;
    justify-content: center;
    font-size: 1rem;
    white-space: nowrap;
    flex-shrink: 0;
}

.projeto__link:hover {
    background-color: var(--textoforte);
}

.contato__links {
    margin-top: 20px;
    display: inline-flex;
    justify-content: center;
    gap: 15px;
}

.contato__link {
    background-color: var(--borda);
    color: var(--texto);
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    transition: background-color 0.3s ease;
    height: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    gap: 8px;
    font-size: 1rem;
}

.contato__link:hover {
    background-color: var(--textoforte);
}

.icone-seta {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background-color: var(--borda);
    color: var(--seta);
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rodape {
    padding: 20px;
    text-align: center;
    background-color: var(--cor-hover);
    color: var(--texto);
}

.projeto__link .bi,
.contato__link .bi,
.header__menu__link .bi,
.icone-seta .bi {
    margin: 0;
}

.header__menu__link .bi,
.icone-seta .bi {
    font-size: 1.5rem;
}

@media (max-width: 1024px) {
  :root {
    font-size: 0.8rem;
  }
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo, .apresentacao__imagem {
        width: 100%;
        text-align: center;
    }
    .apresentacao__imagem {
        max-width: 300px;
    }
    .apresentacao__imagem-container {
        max-width: 200px;
    }
    .icone {
        height: 2em;
        margin-left: 0;
    }
    .contato__links {
        margin: 0;
        gap: 1rem;
        justify-content: center;
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .contato__link {
        background-color: var(--borda);
        color: var(--texto);
        padding: 0 1rem;
        text-decoration: none;
        border-radius: 5px;
        font-weight: 600;
        transition: background-color 0.3s ease;
        height: auto;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 0.5rem;
        width: 8rem;
    }
    .carousel {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .carousel {
        width: 100%;
    }
    .projeto__links {
        flex-direction: column;
        gap: 0.5rem;
    }
}

.carousel {
    position: relative;
    width: 80%;
    margin: 0 auto;
    overflow: visible;
}

.carousel__track-container {
    width: 100%;
    overflow: hidden;
    border: 2px solid var(--borda);
    border-radius: 10px;
}

.carousel__track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel__item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel__button {
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    background-color: var(--borda);
    border: none;
    color: var(--texto);
    padding: 0.5rem;
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.carousel__button:hover {
    opacity: 1;
}

.carousel__button--left {
    left: -25px;
}

.carousel__button--right {
    right: -25px;
}

.carousel__item:not(.active) {
    display: none;
}