:root {
    --texto: #fffafa;
    --fundo: linear-gradient(to bottom, #363636 0%, #36494F 100%);
    --borda: #38e51a ;
    --fonte-principal: 'Poppins', sans-serif;
    --textoforte: #28cb4f;
    --cor-hover: #1e3028;
}